.app {
    /* background-image: url("./bg-loginpage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans", sans-serif;
  }